<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RiccoApp"
        tools:targetApi="31"
        android:label="@string/app_name">

        <activity
            android:name=".item_hamburger"
            android:exported="false" />
        <activity
            android:name=".item_producto"
            android:exported="false" />
        <activity
            android:name=".HamburgerListActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/splash_screen_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/about_activity_title"
            android:exported="false" />

        <activity
            android:name=".RegistroActivity"
            android:label="@string/registro_activity_title"
            android:exported="false" />

        <activity
            android:name=".loginActivity"
            android:label="@string/login_activity_title"
            android:exported="false" />

        <activity
            android:name=".ContactoActivity"
            android:label="@string/contacto_activity_title"
            android:exported="false" />

        <activity
            android:name=".ProductsActivity"
            android:label="@string/products_activity_title"
            android:exported="false" />

        <activity
            android:name=".UserProfileActivity"
            android:label="@string/user_profile_activity_title"
            android:exported="false" />


        <activity
            android:name=".AdminActivity"
            android:label="@string/admin_activity_title" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Elimina este intent-filter de MainActivity para evitar conflictos -->
            <!-- <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
    </application>
</manifest>
